<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <title>Secretary</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/v1/console">Secretary</a>
        <form class="form-inline" action="/idman/auth/logout" method="post">
            <span class="navbar-text pr-3">
                <b>{{idmanUser.user.name}}</b>
            </span>
            <button class="btn btn-sm btn-danger cm-logout" type="submit">Logout</button>
        </form>
    </nav>
</header>

<main class="container">
    <form name="upload details" onsubmit="event.preventDefault()">
        <div class="form-group mt-5">
            <label for="workflow-options">Select a workflow</label>
            <select class="form-control" id="workflow-options">
                <option>None</option>
                {{#workflows}}
                    {{#enabled}}
                        <option>{{name}}</option>
                    {{/enabled}}
                {{/workflows}}
            </select>
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" id="data-file" accept=".csv">
        </div>
        <div class="form-group">
            <button
                disabled
                type="submit"
                id="upload-button"
                class="btn mb-4 mx-auto"
                style="width: 200px; margin-bottom: 0px">
                Upload
            </button>
        </div>
        <div id="alert-message" style="visibility:hidden; display: flex; justify-content: space-between" role="alert">
            <p id="alert-message-txt" style="display: inline; align-self: center; margin: 0px"></p>
            <button type="button" aria-label="Close" id="alert-close" style="width: 30px; height: 30px; border: none; background-color: transparent;">
                <span aria-hidden="true" style="flex: 1;">&times;</span>
            </button>
        </div>
    </form>
    <table class="table table-hove">
        <thead>
            <tr>
                <th scope="col">Workflow</th>
                <th scope="col">State</th>
                <th scope="col">Count</th>
                <th scope="col">User</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {{#fileDatas}}
                <tr>
                    <td>{{workflow}}</th>
                    <td>{{state}}</td>
                    <td>{{count}}</td>
                    <td>{{user}}</td>
                    <td>{{createdAt}}</td>
                </tr>
            {{/fileDatas}}
        </tbody>
    </table>
</main>
<script>
    const workflowSelector = document.getElementById("workflow-options")
    const uploadButton = document.getElementById("upload-button")
    const inputFile = document.getElementById("data-file")
    const alertMessage = document.getElementById("alert-message")
    const alertMessageTxt = document.getElementById("alert-message-txt")
    const alertCloseButton = document.getElementById("alert-close")

    workflowSelector.addEventListener('change', (event) => {
        validateInput()
    })

    uploadButton.addEventListener('click', (event) => {
        event.preventDefault()
        event.stopPropagation()
        const xhr = new XMLHttpRequest()
        xhr.open("POST", `/v1/data/file/upload?workflow=${workflowSelector.value}`)
        xhr.setRequestHeader("Accept", "application/json")
        xhr.addEventListener('load', () => {
            const jsonResponse = JSON.parse(xhr.response)
            console.log('upload response', jsonResponse)
            if (xhr.status !== 200) {
                alertMessage.setAttribute("class", "alert alert-danger alert-dismissible")
                alertMessage.style.visibility = 'visible'
                alertMessageTxt.innerHTML = jsonResponse.error
                workflowSelector.selectedIndex = 0
                inputFile.value = ''
                validateInput()
            } else {
                alertMessage.setAttribute("class", "alert alert-success alert-dismissible")
                alertMessage.style.visibility = 'visible'
                alertMessageTxt.innerText = 'Successfully uploaded id: ' + jsonResponse.id
                workflowSelector.selectedIndex = 0
                inputFile.value = ''
                validateInput()
            }
        })
        xhr.addEventListener('error', (err) => {
            console.log('upload error', err)
        })
        var formData = new FormData()
        var file = inputFile.files[0]
        formData.append('file', file)
        xhr.send(formData)
    })

    inputFile.addEventListener('input', (event) => {
        validateInput()
    })

    function validateInput() {
        if (inputFile.files.length !== 0 && workflowSelector.value !== "None") {
            uploadButton.removeAttribute("disabled")
        } else {
            uploadButton.setAttribute("disabled", "true")
        }
    }

    alertCloseButton.addEventListener('click', (event) => {
        alertMessage.style.visibility = 'hidden'
        alertMessageTxt.innerText = ''
    })
</script>
</body>
</html>